/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
  margin: 0;
}

#main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffe7fd;
  background-color: #9ba9ff;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 46px;
  margin: 0;
  padding-top: 20px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(180deg, rgba(155,169,255,1) 0%, rgba(255,202,233,1) 100%);
}

h2 {
  margin: 0;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-family: 'Cookie', cursive;
  font-size: 40px;
  color: #f4ecff;
  background-color: #a480f2;
}

/* Flavors Section */

#flavors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFCAE9;
}

#flavors-container {
  display: flex;
  flex-direction: row;
}

#flavors-container img {
  height: auto;
  width: 80px;
}

#flavors-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 44px;
}

#flavors-container span {
  margin-top: 8px;
  padding: 8px 10px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  background-color: #f992ad;
  font-family: 'Fredoka', sans-serif;
}

/* Ornament Section */

#ornament-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fadfec;
  font-family: 'Fredoka', sans-serif;
  padding-top: 36px;
  padding-bottom: 36px;
}

#ornament-section h3 {
  font-size: 28px;
  border-bottom: 4px solid #d5bcf0;
  padding-bottom: 6px;
  margin-bottom: 60px;
}

#ornament-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ornament-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 60px;
}

.ornament-card span {
  font-size: 18px;
}

.ornament-card * {
  padding-bottom: 18px ;
}

.ornament-card img {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100px;
}

/* Form Section */

#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Fredoka', sans-serif;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #f8edf2;
}

#form-section h4 {
  margin: 20px;
  font-size: 26px;
}

#form-section h4 + h4 {
  font-size: 24px;
  border-bottom: 4px solid #f992ad;
  padding-bottom: 2px;
}

#form-section > div {
  padding-top: 10px;
}

textarea {
  height: 100px;
  width: 400px;
}